@model CMSV2.Models.InScanSearch

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
        var isadd = true;
        var ismodify = true;
        var isdelete = true;

        string path = "/InScan/Index";

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            CMSV2.Models.SourceMastersModel obj = new CMSV2.Models.SourceMastersModel();
            isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

        }
    }

    <style>
        tfoot {
            display: table-header-group;
        }
      
    </style>
    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript">


        $(function () {
            $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            
        });

        $(function () {
            $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

            $('#ToDate').datepicker("setDate", new Date());
        });

        $(function () {
        $('#txtpickuptime').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    });
        


    </script>

    <script type="text/javascript">
      
        
       
        $(document).ready(function () {
         
            $("select").css({ "border-radius": "5px" });

            $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            //$('#FromDate').datepicker("setDate", new Date());


            //LoadList();

            //var table = $('#dataTables-example').DataTable({ "sPaginationType": none });

            //var table = $('#dataTables-example').DataTable();
            var table = $('#dataTables-example').dataTable({
                "bDestroy": true,
                //"order": []
                 "aaSorting": []
            }).fnDestroy();


            $('#dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" />');


                //var table = $('#dataTables-example').DataTable();



            });
       

    
    

      
               var m_names = new Array("Jan", "Feb", "Mar",
"Apr", "May", "Jun", "Jul", "Aug", "Sep",
"Oct", "Nov", "Dec");

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth()+1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year;

            if ($("#FromDate").val()=="")
                $("#FromDate").val('@ViewBag.FromDate');

            if ($("#ToDate").val()=="")
                $("#ToDate").val('@ViewBag.ToDate');
                              
       
       });

        
    </script>
    <section class="content-header">
        <h1 class="headingfont">Depot InScan</h1>
    </section>
    
    <div class="row no-margin">
        <div class=" d-flex">
            @*<div class="col-md-3">                
                <label class="headinglabel">Status</label>
                @Html.DropDownList("StatusId", new SelectList(@ViewBag.PickupRequestStatus, "CourierStatusID", "CourierStatus", @ViewBag.StatusId), "Select All", new { @class = "form-control", @value = 1, @id = "StatusId", @name = "StatusId" })
            </div>*@
            <div class="col-md-1">
                <label class="headinglabel">From Date</label>                
                @Html.TextBoxFor(model=>model.FromDate,new { @class = "form-control txttarget" })
            </div>

            <div class="col-md-1">
                <label class="headinglabel">To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control txttarget" })
            </div>
			
            <div class="pull-left" style="padding-top:32px; padding-right:15px;padding-left:5px;">
                <button class="btn btn-success" type="submit" style="width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                @*<a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("Index", "InScan")?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val() " /><i class="fa fa-refresh" aria-hidden="true"></i></a>*@
            </div>
        <div class="pull-left" style="padding-top:32px;">
            <p class="indexbtnpadding" style="padding-right:15px">
                @if (@CMSV2.Models.CommanFunctions.CheckCreateEntryValid() == false || (!isadd))
                {
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth", @disabled = "disabled", @title = "Create Not allowed in this Financial year!" })
                }
                else
                {
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
                }
            </p>
        </div>
            </div>
    </div>



    <section class="content">


        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }
        @*<div class="row no-margin">
            <div class="col-md-3">
                 <label class="headinglabel">Sort By</label>
                        @Html.DropDownList("Filter", new List<SelectListItem>
                        {
                             new SelectListItem{ Text="Both", Value = "1" },
                            new SelectListItem{ Text="Pending", Value = "2" },
                            new SelectListItem{ Text="Picked Up", Value = "3" },


                         }, new { @class = "form-control" })


            </div>
             <div class="col-md-3" style="padding-top:25px">
                 <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
            </div>
        </div>*@




        <div class="table-responsive tblbackground" style="padding:15px;margin-top:20px">
            <table class="table table-responsive table-bordered tblfont" id="dataTables-example">


                <thead>
                    <tr>
                        <th>
                            @Html.Label("Sheet No")
                        </th>
                        <th>
                            @Html.Label("Scan Date")
                        </th>                        
                        <th>
                            @Html.Label("Collected By")
                        </th>
                        <th>
                            @Html.Label("Received By")
                        </th>
                        @*<th>
                            @Html.Label("Driver")
                        </th>*@
                       

                        <th>Action</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>
                            @Html.Label("Sheet No")

                        </th>

                        <th class="right_text">
                            @Html.Label("InScan Date")
                        </th>
                        <th>
                            @Html.Label("Collected By")
                        </th>

                        <th>
                            @Html.Label("Received By")
                        </th>

                        @*<th>
                            @Html.Label("Driver")
                        </th>*@
                        <th style="display:none"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Details)
                    {

                        <tr>


                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.InScanSheetNo)
                            </td>
                            <td class="text-right">
                                @CMSV2.Models.CommanFunctions.GetShortDateFormat(item.QuickInscanDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CollectedBy)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBy)
                            </td>                                                        
                            @*<td>
                                @Html.DisplayFor(modelItem => item.DriverName)
                            </td>*@
                            <td>
                                @if (ismodify)
                                {
                                    <a href="@Url.Action("Create", new { id = item.QuickInscanID })"><i class="fa fa-pencil"></i></a> 
                                }
                                                                                                                                   
                                @*@if (isdelete)
                                {
                                <a href="#" onclick="Delete(ID=@item.QuickInscanID)"><i class="fa fa-times"></i></a>
                                }*@
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>



      
    </section>
    <script type="text/javascript">
        function Delete(ID) {
            if (confirm("Are you sure to Delete this Depot Inscan?")) {
                window.location.href = "/Inscan/DeleteConfirmed/?id=" + ID;
            }
        }
    </script>
