@model  CMSV2.Models.AWBTracking
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<section class="content-header">
    <div class="row">
        <div class="col-md-5 pull-left">
            <h1 class="headingfont">AirWay Bill Time Line</h1>
        </div>
    </div>
</section>
<style>
    ul {
        list-style: none;
        padding: 0;
    }

    .timelineLeft {
        padding-right: 4px;
    }

    .timelineRight {
        padding-left: 4px;
    }

    .timelineRow h4 {
        font-size: 15px;
        font-weight: bold;
    }

    .timelineRow::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 100%;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
        background: #222;
    }

    .timelineRow li {
        position: relative;
        margin-bottom: 20px;
        padding-right: 10px;
        padding-top: 5px;
    }

    .timelineRight li {
        padding-left: 10px;
    }

    .timelineRow li:after {
        content: '';
        height: 7px;
        display: block;
        text-align: right;
        position: absolute;
    }

    .timelineRow li:nth-of-type(1):after {
        background: #fb9643;
        width: 100px;
    }

    .timelineRow li:nth-of-type(2):after {
        background: #4bacc6;
        width: 140px;
    }

    .timelineRow li:nth-of-type(3):after {
        background: #8064a2;
        width: 180px;
    }

    .timelineRow li:nth-of-type(4):after {
        background: #a1c557;
        width: 210px;
    }

    .timelineRow li:nth-of-type(5):after {
        background: #ce504c;
        width: 230px;
    }

    .timelineLeft li::after {
        right: 0;
    }

    .timelineRight li::after {
        left: 0;
    }

    .timelineBlock {
        padding: 50px 0;
    }
    /*.timelineRow{

        }*/
    .timelineDetails > .col-md-6 {
        margin: auto;
        float: none;
    }

    .timelineDetails {
        margin-bottom: 50px;
    }

    .timelinedata h4 {
        color: #07a7e3;
    }

    .timelineDetails h4 {
        font-weight: bold;
    }

    .Aiwaybillcontrol {
        float: none;
        margin: auto;
    }

    h4 {
        font-size: 15px;
    }
</style>



<section class="timelineBlock">
    <div class="container-fluid">

        <div class="row">
            @using (@Html.BeginForm("AWBTimeline", "AWB", FormMethod.Post, new { @class = "form-horizontal" }))
            {

            <div class="col-md-6 timelineDetails">

                <div class="row">

                    <div class="col-md-8  Aiwaybillcontrol">
                        <div class="col-md-4">
                            <label class="headinglabel">AIRWAY BILL: </label>
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control", @required = true })
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" style="min-width:50px!Important;" id="btnsearch"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Shipper</h4>

                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.Consignor</h4>
                            <h4>@Model.AWB.ConsignorAddress1_Building @Model.AWB.ConsignorAddress2_Street</h4>
                            <h4>@Model.AWB.ConsignorAddress3_PinCode</h4>
                            <h4>@Model.AWB.ConsignorPhone</h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Consignee</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.Consignee</h4>
                            <h4>@Model.AWB.ConsigneeAddress1_Building @Model.AWB.ConsigneeAddress2_Street</h4>
                            <h4>@Model.AWB.ConsigneeAddress3_PinCode</h4>
                            <h4>@Model.AWB.ConsigneePhone</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Origin</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.ConsignorCountryName</h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Destination</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.ConsigneeCountryName </h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Pieces</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.Pieces </h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Weight</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.Weight</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Courier Charge</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.CourierCharge </h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Other Charge</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.OtherCharge</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-5">
                            <h4>Tax Amount</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.TaxAmount </h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col-md-5">
                            <h4>Total Charge</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.totalCharge </h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-5">
                            <h4>Material Cost</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.materialcost </h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Item Description</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.Description</h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Special Notes</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.SpecialNotes</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <h4>Payment Mode</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.paymentmode</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col-md-5">
                            <h4>COD Status</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.CODStatus</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-5">
                            <h4>Material Cost Status</h4>
                        </div>
                        <div class="col-md-7 timelinedata">
                            <h4>@Model.AWB.MaterialCostStatus</h4>
                        </div>
                    </div>
                </div>
            </div>


                <div class="col-md-5 timelineRow">
                    <div class="timelineLeft col-md-6 text-right">

                        <ul>
                            @foreach (var item in Model.Details)
                            {
                                if (item.CourierStatusId <= 4)
                                {
                                    <li>
                                        <p>@CMSV2.Models.CommanFunctions.GetShortDateFormat(@item.EntryDate)</p>
                                        <h4>@item.CourierStatus</h4>
                                    </li>
                                }
                            }


                            @*<li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Pick Up Request</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Assigned for Collection </h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Collection Attempt</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Collected</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Received at Facility</h4>
                        </li>*@
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="timelineRight col-md-6 pull-right">
                        <ul>
                            @foreach (var item in Model.Details)
                            {
                                if (item.CourierStatusId > 4)
                                {
                                    <li>
                                        <p>@CMSV2.Models.CommanFunctions.GetShortDateFormat(@item.EntryDate)</p>
                                        <h4>@item.CourierStatus</h4>
                                    </li>
                                }
                            }
                            @*<li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Sorting in process</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Assigned for Collection </h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Collection Attempt</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Collected</h4>
                        </li>
                        <li>
                            <p>22-07-2020 <span>10.30 Am</span></p>
                            <h4>Received at Facility</h4>
                        </li>*@
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
            </div>
    </div>
    
</section>