@model CMSV2.Models.OutScanSearch
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/OutScan/Index";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        CMSV2.Models.SourceMastersModel obj = new CMSV2.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    tfoot {
        display: table-header-group;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
        $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
<section class="content-header">
    <h1 class="headingfont">OutScan</h1>

</section>
@using (@Html.BeginForm("Index", "OutScan", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row no-margin">
        <div class=" d-flex">
            <div class="col-md-1">
                <label class="headinglabel">From</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right " })
            </div>

            <div class="col-md-1">
                <label class="headinglabel">To </label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right" })
            </div>

            <div class="pull-left" style="padding-top:32px; padding-right:15px;padding-left:5px;">
                @*<a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("Index", "InScan")?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val() " /><i class="fa fa-refresh" aria-hidden="true"></i></a>*@
                <button class="btn btn-success" type="submit" style="width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
            <div class="pull-left" style="padding-top:32px;">
                <p class="indexbtnpadding" style="padding-right:15px">
                    @if (@CMSV2.Models.CommanFunctions.CheckCreateEntryValid() == false || (!isadd))
                    {
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth", @disabled = "disabled", @title = "Create Not allowed in this Financial year!" })
                    }
                    else
                    {
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
                    }
                </p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <section class="content">
        @if (TempData["SuccessMsg"] != null)
        {           
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
            </script>
        }
        <div class="table-responsive tblbackground" style="padding:15px">
            <table class="table table-responsive table-bordered tblfont" id="dataTables-example">

                <thead>
                    <tr>

                        <th>
                            DRS No.
                        </th>
                        <th>
                            @Html.Label("Date")
                        </th>
                        <th>
                            @Html.Label("Courier")
                        </th>
                        <th>
                            @Html.Label("Vehicle")
                        </th>
                        <th>
                            @Html.Label("COD")
                        </th>
                        <th>
                            @Html.Label("Material Cost")
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>
                            DRS No.
                        </th>
                        <th class="right_text">
                            @Html.Label("Date")
                        </th>
                        <th>
                            @Html.Label("Courier")
                        </th>
                        <th>
                            @Html.Label("Vehicle")
                        </th>
                        <th>
                            @Html.Label("COD")
                        </th>
                        <th>
                            @Html.Label("Material Cost")
                        </th>

                        <th style="display:none"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in @Model.DRSDetails)
                    {
                        <tr>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem=>item.DRSNo)
                            </td>

                            <td>
                                @CMSV2.Models.CommanFunctions.GetShortDateFormat(item.DRSDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Deliver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vehicle)
                            </td>
                            <td style="text-align:right">

                                @Html.DisplayFor(modelItem => item.TotalCourierCharge)
                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.TotalMaterialCost)
                            </td>


                            <td>
                                @*    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) *@
                                <a href="@Url.Action("Create", new { id = item.DRSID })"><i class="fa fa-pencil"></i></a>|
                                @*<a href="#" onclick="Delete(ID=@item.DRSID)"><i class="fa fa-times"></i></a>*@
                                @if (isprint)
                                {
                                    <a target="_blank" href="@Url.Action("DRSRunSheet", "OutScan", new { id = item.DRSID })"><i class="fa fa-print"></i></a>
                                }
                            </td>
                            </tr>
                            }
                    </tbody>
            </table>
        </div>
    </section>
}
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete OutScan?")) {
            window.location.href = "/OutScan/DeleteConfirmed/?id=" + ID;
        }
    }
</script>
