@model CMSV2.Models.ShipmentInvoiceVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    $(document).ready(function () {
        var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });


        $('#Selectall')
        $("#Selectall").click(function () {
            var idtext = 'hdnawbchecked_';
            if ($("#Selectall").is(':checked')) {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', true);
                });
            }
            else {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', false);
                });
            }
        });

    });
</script>
<table class="table table-responsive table-bordered tblfont" role="grid" style="min-width: 100%" id="DetailsTable">
    <thead>
    <th style="width:12%"><input type="checkbox" style="width:20px;" class="Selectall" id="Selectall" value="0" name="Selectall" />AWB No.</th>
    <th>Bag</th>
    <th>Shipper</th>
    <th>Invoice Value</th>
    <th>Tax %</th>
    <th>Tax Amount</th>
    <th>Admin Charges</th>    
    </thead>
    <tbody class="input-table" id="listbody">
        @foreach (var item in Model.Details)
        {
        <tr>
            <td>
                @Html.HiddenFor(model => model.Details[i].ShipmentInvoiceDetailID, new { })
                @Html.CheckBoxFor(model => model.Details[i].AWBChecked, new { @id = "hdnawbchecked_" + @i, @awb = item.AWBNo, shipmentdetailid = item.ShipmentInvoiceDetailID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                @item.AWBNo
            </td>
            <td>@item.BagNo</td>
            <td>
                @item.Shipper
            </td>
            <td style="text-align:right">                
                @CMSV2.Models.CommanFunctions.GetFormatNumber(@item.InvoiceValue, _decimal)
            </td>
            <td style="text-align:right">
                @CMSV2.Models.CommanFunctions.GetFormatNumber(@item.TaxP, _decimal)
            </td>
            <td style="text-align:right">
                @CMSV2.Models.CommanFunctions.GetFormatNumber(@item.Tax, _decimal)
            </td>
            <td style="text-align:right">
                @CMSV2.Models.CommanFunctions.GetFormatNumber(@item.adminCharges, _decimal)
            </td>            
        </tr>
            i++;
        }
    </tbody>
</table>


